body {
    background-image: url(../images/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    font-family: 'Viga', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 15px;
    color: white;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
}

p {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

.card {
    text-align:center;
    border-color: black;
    background-color: white;
    opacity: 0.8;
    height: 180px;
}

.card-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    padding: 10px;
    background-color: black;
    color: white;
}

.btn {
    margin-bottom: 5px;
    font-size: 15px;
    border-color: black;
    border-width: 2px;
}

.btn:hover {
    background-color: black;
    color: white;
    border: none;
}

#dietaryinfo {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}

#recipe-container1 {
    height: 100%;
}

#recipe-container2 {
    height: 100%;
}

#recipe-container3 {
    height: 100%;
}

img {
    height: 200px;
    width: 250px;
}