body {
    background-image: url(../images/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Viga', sans-serif;
    font-size: 80px;
    text-align: center;
    margin-top: 15px;
    color: white;
}
h2 {
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Caveat', cursive;
}
p {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}
#rate { 
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    text-align: center; 
    color: #47E967;
    margin-top: 5px;
}
.card {
    text-align:center;
    border-color: black;
    background-color: white;
    opacity: 0.9;
    height: 180px;
}

.card-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    padding: 10px;
    background-color: black;
    color: white;
}
.btn {
    margin-bottom: 5px;
    font-size: 15px;
    border-color: black;
    border-width: 2px;
}
.btn:hover {
    background-color: black;
    color: white;
    border: none;
}
#dietaryinfo {
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
}
#recipe-container1, #recipe-container2 , #recipe-container3  {
    height: 100%;
    font-family: 'Viga', sans-serif;
    border: 1px solid black;
}

img {
    height: 200px;
    width: 250px;
    align-self: center;
}

#rateYo {
    margin: 0 auto; 
}

#button-nutr1, #button-nutr2, #button-nutr3 {
    border-radius: 25px;
    background-color: green;
    color: white;
}

#ingr-container1, #ingr-container2, #ingr-container3 {
    text-align:center;
    border-color:black;
    background-color: white;
    opacity: 0.9;
    height: 100%;
    border-radius: 25px;
}

#mySpan4, #mySpan5, #mySpan6 {
    color: green;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
}

#hidtitle1, #hidtitle2, #hidtitle3 {
    font-family: 'PT Sans', sans-serif;
    color: white;
    background-color: black;
    font-size: 35px;
    text-align: center;
    border-radius: 25px;
}

#fa-heart { 
    color: white;
}



#drink-image {
    height: 150px;
    width: 150px;
}


#recipe-container-guide {
    height: 500px;
}